.dialpad {
  height: 12em;
}

.dialpadKey {
  height: 1.5em;
  background-color: orange;
  border: white 1px solid;
  font-size: 2em;
  cursor: default;

  /*prevent text hightlighting*/
  -webkit-touch-callout: none; 
  -webkit-user-select: none; 
  -khtml-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
}

.dialpadKey:active {
  background-color: red;
}